### SYMFONY 2.1

# see Symfony/.gitignore



### MISC

# Compass Cache
dev/.sass-cache/*

# Textmate
*.tmproj

# Apfel
.DS_Store*

# Joe backup files
*~

# phpstorm project files
.idea

# Git fun
.gitshots

# Exclude compiled css because of merging errors.
static/css/ie.css
static/css/print.css
static/css/screen.css




### NODE

# exclude modules
node/node_modules/*

# exclude config file
node/config.json
