/*
 * Manifesto Page
 */


.lunch-page-manifesto {

	margin: 0;
 	
 	background-image: url('/static/img/manifesto-bg.jpg');
 	background-position: center center;
 	background-size: cover;
 	background-attachment: fixed;

 	p{
 		margin: 0;

 		font: {
			family: "bebas-neue";
			size: 3em;
		}

		color: #fff;

		text-align:center;

		line-height: 1em;

		padding-top: 30px;

		&:first-child{
			padding-top: 150px;
		}
 	}

 	a{
 		text-decoration: none;
 		color: $agencycolor;

 		@include transition( color 1000ms );

		&:hover{
			color: #fff;
			@include transition( color 200ms );
		}
 	}


 	.lunch-footer{
 		a{
 			color: #fff;

 			@include transition( color 1000ms );

			&:hover{
				color: $agencycolor;
				@include transition( color 200ms );
			}
 		}
 	}
 	
 }