/*
 * Lunchpad. Appage
 * @author Joachim Fröstl <jf@19h13.com>
 */









.lunch-apppage-head,
.lunch-apppage-body {
	@extend .lunch-grid-column;
}









.lunch-inp-notify {
	margin-right: 5px;
}









.lunch-venue-create-container{

	background-color: #efefef;

	.lunch-venue-create{
		max-width: 600px;
	}

}







/* Apppage Body */

// Mobile First

.lunch-apppage-body {
	
	position: relative;

	min-height: 100%;
	
	padding: {
		top: 70px;
		bottom: 0px;
	}

	background: {
		color: #fff;
	}
}









// Desktop Second

@mixin lunch-apppage-body-sm-mixin() {

	.lunch-apppage-body {
		
		// Box
		margin: {
			left: 38.2%;
		}
		padding: {
			top: 0;
		}
		width: 61.8%;
		
		// float: left;
	}
}










// Collect all Desktopstyles here

@mixin lunch-apppage-sm-mixins() {

	//@include lunch-apppage-head-desktop;
	@include lunch-apppage-body-sm-mixin;

}









/* Apply */

@media screen and (min-width: 960px) {

	@include lunch-apppage-sm-mixins;

}