/*
 * App Page
 */


.lunch-apppage-head,
.lunch-apppage-body {

	@extend .lunch-grid-column;
}



/* Apppage Header */

// Mobile First

.lunch-apppage-head {

	// Skin
	
	background: {
		color: $agencycolor;
	}

	color: white;

	.lunch-logo-container {
		@extend .clearfix;
	}

	.lunch-logo {

		&:hover {
			background: {
				color: #D6003B;
			}
		}
	}

}

// Desktop Second

@mixin lunch-apppage-head-desktop() {

	.lunch-apppage-head {
		
		width: 38.2%;
		
		// Positioning

		position: fixed;

		top: 0;
		bottom: 0;
		left: 0;


		.lunch-container {

			float: right;
			width: 300px;
		}

		.lunch-logo-container {

			display: block;

			text-align: center;

			background: {
				color: #E90040;
			}

			border: {
				width: 0px;
				bottom-width: 0px;
				style: solid;
				color: white;
			}
		}

		.lunch-logo {

			display: block;
			width: 260px;
			float: right;

			padding: {
				top: 40px;
				right: 20px;
				left: 20px;
				bottom: 40px;
			}
		}
	}
}



/* Lunch Timer */

// Mobile First 

.lunch-timer {

}

// Desktop Second

@mixin lunch-timer-desktop() {
	.lunch-timer {

		position: absolute;

		bottom: 0;

	}
}



/* Apppage Body */

// Mobile First

.lunch-apppage-body {
	min-height: 100%;

	background: {
		color: #efefef;
	}
}

// Desktop Second

@mixin lunch-apppage-body-desktop() {

	.lunch-apppage-body {
		
		margin-left: 38.2%;
		
		width: 61.8%;
		
		// float: left;
	}
}


.lunch-venue {

	background: {
		color: white;
	}
	margin: {
		top: 0px;
		bottom: 40px;
		left: 20px;
		right: 20px;
	}
}



/* Desktop Second */

// Collect all Desktopstyles here

@mixin lunch-apppage-desktop() {

	@include lunch-apppage-head-desktop;
	@include lunch-apppage-body-desktop;
	@include lunch-timer-desktop;

}

// Apply

@media screen and (min-width: 960px) {

	@include lunch-apppage-desktop;

}