/* 
 * Venue Variables
 */

$venue-vertical-padding: 50px;


/* 
 * Venues 
 * Mobile First
 */

.lunch-venue {

	// General Venue Styles

	background: {
		color: white;
	}

	border: {
		width: 0px;
		bottom-width: 1px;
		style: solid;
		color: #eee;
	}

	margin: {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}

	padding: {
		top: 0;
		bottom: 0;
		right: 30px;
		left: 30px;
	}

	@include box-sizing(border-box);
}

/* Mixin for medium screens */

@mixin lunch-venue-screen-m() {

	.lunch-venue {
		
		padding: {
			right: 60px;
			left: 60px;
		}
	}
}









/* 
 * Venue Body 
 * Mobile First
 */

.lunch-venue-body {
	
	overflow: hidden; // clearfix workaround

	max-width: 600px;

	position: relative;

	padding: {
		top: $venue-vertical-padding;
		bottom: $venue-vertical-padding;
	}

	margin: {
		left: auto;
		right: auto
	}
}

/* Mixin for medium screens */

@mixin lunch-venue-body-screen-m() {
	
	.lunch-venue-body {
		
		margin: {
			left: 0;
			right: auto;
		}
	}

}










/* 
 * Venue Guests 
 * Mobile First
 */

.lunch-venue-guests-container {

	display: inline;
	overflow: hidden;
	margin-top: 20px;
}

/* Mixin for medium screens */

@mixin lunch-venue-guests-container-screen-m() {
	
	.lunch-venue-guests-container {
		
		display: block;
		margin-right: 60px;
	}
}








/* Collect all Medium Screen Styles here */

@mixin lunch-venue-screen-m-mixin() {

	@include lunch-venue-screen-m;
	@include lunch-venue-body-screen-m;
	@include lunch-venue-interaction-button;
	@include lunch-venue-guests-container-screen-m;

}

// Apply

@media screen and (min-width: 960px) {

	@include lunch-venue-screen-m-mixin;

}