/*
 * Lunchpad. Venue Styles
 * @author Joachim Fröstl <jf@19h13.com>
 */








/*
 * Lunch Venue Variables
 */
$venue-vertical-padding: 50px;









/* 
 * Venues Mobile First
 */
.lunch-venue {

	// Box
	border: {
		width: 0px;
		bottom-width: 1px;
		style: solid;
		color: #eee;
	}
	margin: {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
	padding: {
		top: 30px;
		bottom: 60px;
		right: 30px;
		left: 30px;
	}
	@include box-sizing(border-box);

	// Skin
	background: {
		color: white;
	}
}



/* 
 * Mixin for medium screens 
 */
@mixin lunch-venue-screen-m() {

	.lunch-venue {
		
		// Box
		padding: {
			top: 50px;
			bottom: 50px;
			right: 60px;
			left: 60px;
		}
	}
}









/* 
 * Venue Body Mobile First
 */
.lunch-venue-body {
	
	// Box
	max-width: 600px;
	margin: {
		left: auto;
		right: auto
	}
	
	// Skin
	position: relative;
	display: table; // clearfix workaround
	width: 100%;
}



/* 
 * Mixin for medium screens 
 */
@mixin lunch-venue-body-screen-m() {
	
	.lunch-venue-body {
		
		margin: {
			left: 0;
			right: auto;
		}
	}
}










/* 
 * Venue Guests Mobile First
 */
.lunch-venue-guests {
	
	// box
	display: inline;
	margin: {
		top: 30px;
	}
	overflow: hidden;
}

/* Mixin for medium screens */

@mixin lunch-venue-guests-screen-m() {
	
	.lunch-venue-guests {
		
		display: block;
		margin-right: 66px;
	}
}









/*
 * Guest
 */
.lunch-venue-guest{
	margin: {
		top: 0;
	}
	float: left;

	&:first-child {
		clear: left;
	}
}










/*
 * Lunch Venue Header
 */
.lunch-venue-header {
	
	// Box
	margin: {
		bottom: 20px;
	}

	// Position
	float: left;
	
}



/*
 * Mixin for medium screens
 */
@mixin lunch-venue-header-screen-m() {
	.lunch-venue-header {

		// Box
		margin: {
			bottom: 0;
		}
	
		// Position
		float: none;
	}
}









/* 
 * Venue Name/Title
 */
.lunch-venue-title {
	
	// Box
	margin: {
		top: 0;
		bottom: 0;
	}
	display: block;
	
	// Skin
	font: {
		size: 2.4em;
	}
}









/* 
 * Link to Venue Menu
 */
.lunch-fn-menu {
	
	// Box
	display: block;

	// Skin
	color: #666;
	text-decoration: none;
	font: {
		family: Georgia;
		style: italic;
	}
	
	// Effects
	@include transition-duration( $lunch-time-out );
	@include transition-property( color );
	
	&:hover{
		color: #00BEEE;
		@include transition-duration( $lunch-time-over );
	}
}







/*
 * Venue Interaction
 */

// Venue buttons
.lunch-fn-attend,
.lunch-fn-quit {

	// import
	@extend .lunch-venue-btn;
	
	// Box
	margin: {
		top:10px;
	}

	// Position
	float: right;
}



// Attend Lunch at venue
.lunch-fn-attend {
	
	// Skin
	background: {
		color: $lunch-color-blu;
	}
	&:hover {
		background: {
			color: $lunch-color-blu-dark;
		}
	}
}



// Opt out of lunch at venue
.lunch-fn-quit {
	
	// Skin
	background: {
		color: $lunch-color-red;
	}
	&:hover {
		background: {
			color: $lunch-color-red-dark;
		}
	}
}



/*
 * Mixin for medium screens
 */
@mixin lunch-venue-button-screen-m() {
	
	.lunch-fn-attend,
	.lunch-fn-quit {
		
		// Box 
		margin: {
			top: 0;
		}

		// Position
		position: absolute;
		right: 0;
		bottom: 5px;
	}
}








/* Collect all Medium Screen Styles here */

@mixin lunch-venue-screen-m-mixin() {

	@include lunch-venue-screen-m;
	@include lunch-venue-body-screen-m;
	@include lunch-venue-guests-screen-m;
	@include lunch-venue-button-screen-m;
	@include lunch-venue-header-screen-m;
}

// Apply

@media screen and (min-width: 960px) {

	@include lunch-venue-screen-m-mixin;

}