/* 
 * Venue Variables
 */

$venue-vertical-padding: 50px;


/* 
 * Venues 
 * Mobile First
 */

.lunch-venue {

	// General Venue Styles

	background: {
		color: white;
	}

	border: {
		width: 0px;
		bottom-width: 1px;
		style: solid;
		color: #eee;
	}

	margin: {
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}

	padding: {
		top: 0;
		bottom: 0;
		right: 30px;
		left: 30px;
	}

	@include box-sizing(border-box);
}

/* Mixin for medium screens */

@mixin lunch-venue-screen-m() {

	.lunch-venue {
		
		padding: {
			right: 60px;
			left: 60px;
		}
	}
}









/* 
 * Venue Body 
 * Mobile First
 */

.lunch-venue-body {
	
	overflow: hidden; // clearfix workaround

	max-width: 600px;

	position: relative;

	padding: {
		top: $venue-vertical-padding;
		bottom: $venue-vertical-padding;
	}

	margin: {
		left: auto;
		right: auto
	}
}

/* Mixin for medium screens */

@mixin lunch-venue-body-screen-m() {
	
	.lunch-venue-body {
		
		margin: {
			left: 0;
			right: auto;
		}
	}

}










/* 
 * Venue Guests 
 * Mobile First
 */

.lunch-venue-guests-container {

	display: inline;
	overflow: hidden;
	margin-top: 20px;
}

/* Mixin for medium screens */

@mixin lunch-venue-guests-container-screen-m() {
	
	.lunch-venue-guests-container {
		
		display: block;
		margin-right: 60px;
	}
}






// Special Voidvenue
.void-venue {
	background: {
		color: #fff;
	}
	border: {
		bottom-width: 0px;
	}

	.lunch-fn-attend {
		background: {
			color: $agencycolor;
		}

		&:hover {
			background-color: #FF1A59;
			@include hoverrotate();
		}
	}

	.lunch-venue-header {
		color: $agencycolor;
		font: {
			family: Georgia;
			style: italic;
		}
	}
}




// Venue Title

.lunch-venue-title {
	
	font: {
		size: 2.4em;
	}

	margin: {
		top: 0;
		bottom: 5px;
	}

	display: block;
}








// Create Lunch Venue

.lunch-venue-create {
	
	@extend .clearfix;
	
	padding: {
		top: 50px;
		right: 60px;
		bottom: 50px;
		left: 60px;
	}

	border: {
		width: 0px;
		bottom-width: 0px;
		style: solid;
		color: #dedede;
	}

	.venue-title-input {
		
		margin: {
			left:-10px;
			top: 0px;
		}

		padding: 10px;

		padding: {
			bottom: 5px;
		}

		font: {
			family: "bebas-neue";
			size: 2.4em;
		}
		min-width: 450px;
		background-color: #eee;
		border: {
			width: 1px;
			style: dashed;
			color: #ccc;
		}
	}

	.venue-menu-input {

		min-width: 450px;
		margin: {
			left:-10px;
			top: 10px;
		}
		padding: {
			left: 10px;
			right: 10px;
			top: 5px;
			bottom: 5px;
		};
		
		font: {
			family: Georgia;
			style: italic;
		}

		background-color: #eee;
		border: {
			width: 1px;
			style: dashed;
			color: #ccc;
		}

	}

	.venue-title-input,
	.venue-menu-input {
		display: block;

		&:focus {
			outline: none;
			border: {
				style: solid;
				color: #aaa;
			
			}
		}
	}
}





/* Collect all Medium Screen Styles here */

@mixin lunch-venue-screen-m-mixin() {

	@include lunch-venue-screen-m;
	@include lunch-venue-body-screen-m;
	@include lunch-venue-interaction-button;
	@include lunch-venue-guests-container-screen-m;

}

// Apply

@media screen and (min-width: 960px) {

	@include lunch-venue-screen-m-mixin;

}