/*
 * Styles for venue view
 * @author Joachim Fröstl <jf@19h13.com>
 */









/*
 * Comment Variables
 */
$lunch-comment-body-col: #eee;








/*
 * Arrow pointing from Comment body
 */
.lunch-comment-arrow{

	// Box
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid  $lunch-comment-body-col;

	// Position
	position: absolute;
	left: -7px;
	top: 12px;
}









/*
 * Container for all comment elements
 */
.lunch-comments {
	// Box
	margin: {
		top: 30px;
		left: 20px;
		right: 20px;
		bottom: 0;
	}
	padding: {
		top: 60px;
		right: 40px;
		bottom: 20px;
		left: 40px;
	}
	border: {
		width: 0;
		//top-width: 2px;
		style: solid;
		//color: $lunch-color-ylw;
	}

	// Skin

}









/*
 * List of all comments
 */
.lunch-comments-list {

	// Box
	max-width: 600px;
	padding: {
		left: 0;
		right: 0;
	}
	margin: 0;
	overflow: hidden;
	clear: left;
}









/*
 * Single comment entity
 */
.lunch-comment {
	$lunch-comment-padding: 20px;

	min-height: 20px;
	padding: {
		top: 0;
		bottom: 0;
		left: 70px;
		right: 0;
	}
	border: {
		width: 0;
		bottom-width: 2px;
		style: solid;
		color: $lunch-clr-grey-xxlgt;
	}
	margin: {
		top: 2px;
	};
	overflow: hidden;
	position: relative;
	font: {
		family: $lunch-typo-copy;
		weight: 300;
	}
	line: {
		height: 1.4em;
	}

	// Children
	// Content
	p {
		margin: {
			top: 0;
			left: 0;
			right: 0;
			bottom: $lunch-comment-padding;
		}
		padding: {
			right: 50px;
		}
	}

	// Info
	.lunch-comment-info {
		margin: {
			top: 	$lunch-comment-padding;
			left: 0;
			right: 0;
			bottom:0;
		};
	}

	// Timestamp
	time {
		float: right;
		color: $lunch-clr-grey;
	}

	// Commentator Name
	h3 {
		margin: 0;
		color: $lunch-clr-blue;
		font: {
			family: $lunch-typo-copy;
			size: 1em;
			weight: 300;
		}
	}

	//Contains Image of commentator
	.lunch-commentator-img {
		width: 50px;
		height: 50px;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: $lunch-comment-padding;
		background: {
			color: $lunch-clr-grey-lgt;
		}
		text: {
			align: center;
		}
		@include border-radius( 25px );
	}
}



















/*
 * Comment input
 */
.lunch-comment-input {

	$lunch-comment-inp-color: #ddd;

	border: none;
	margin: {
		top: 50px;
	}



	// Children
	.lunch-commentator-img {
		top: 0px;
		background: {
			color: $lunch-clr-red-drk;
		}
	}

	textarea {
		display: block;
		overflow: hidden;
		height: 50px;
		width: 100%;
		border: {
			width: 0;
		}
		padding: {
			top: 1em;
			bottom: 1em;
			right: 10px;
			left: 10px;
		}
		resize: vertical;
		border: {
			width: 2px;
			style: solid;
			color: $lunch-clr-grey-xlgt;
		}
		@include box-sizing( border-box );
		@include border-radius(2px);

		// States
		&:hover {

			// Skin
			border: {
				color: $lunch-clr-grey-lgt;
			}
			background: {
				color:$lunch-clr-grey-xxlgt;
			}
		}
	}

	button {
		float: right;
		display: block;
		margin: {
			top: 10px;
		}
		padding: {
			top: 10px;
			bottom: 10px;
			left: 16px;
			right: 16px;
		}
		border: {
			width: 0;
		}
		text-align: center;
		cursor: pointer;
		color: white;
		background: {
			color: $lunch-clr-blue;
		}
		font: {
			size: 14px;
		}
		@include border-radius(2px);

		// Effects
		@include transition-property( background-color );
		@include transition-duration( $lunch-time-out );


		// States
		&:hover {
			@include transition-duration( $lunch-time-over );
			background-color: $lunch-color-blu-dark;
		}
	}
}
