/*
 * Styles for venue view
 * @author Joachim Fröstl <jf@19h13.com>
 */









/*
 * Comment Variables
 */
$lunch-comment-body-col: #eee;








/*
 * Arrow pointing from Comment body
 */
.lunch-comment-arrow{
	
	// Box
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid  $lunch-comment-body-col;

	// Position
	position: absolute;
	left: -7px;
	top: 12px;
}









/*
 * Container for all comment elements
 */
.lunch-comments {
	// Box
	margin: {
		top: 30px;
		left: 20px;
		right: 20px;
		bottom: 0;
	}
	padding: {
		top: 60px;
		right: 40px;
		bottom: 20px;
		left: 40px;
	}
	border: {
		width: 0;
		//top-width: 2px;
		style: solid;
		//color: $lunch-color-ylw;
	}

	// Skin

}









/*
 * List of all comments
 */
.lunch-comments-list {
	
	// Box
	max-width: 600px;
	padding: {
		left: 0;
		right: 0;
	}
	margin: 0;
	overflow: hidden;
	clear: left;
}









/*
 * Single comment entity
 */
.lunch-comment {

	// Box
	float: left;
	clear: left;
	min-height: 20px;
	padding: {
		top: 15px;
		bottom: 15px;
		left: 60px;
		right: 30px;
	}
	border: {
		width: 0;
		//bottom-width: 2px;
		style: dashed;
		color: white;
	}
	margin: {
		top: 2px;
	};
	overflow: hidden;
	
	// Position
	position: relative;

	// Skin
	background: {
		color: $lunch-comment-body-col;
	}

	// Children
	.lunch-comment-content {
		// Box
		position: relative;
		max-width: 450px;
		margin: 0;
		padding: 0;
		float: left;

		// Skin
		font: {
			family: Georgia;
			style: italic;
		}
	}
}









/*
 * Contains Image of commentator
 */
.lunch-commentator {

	// Box
	width: 40px;
	height: 40px;
	overflow: hidden;
	
	// Position
	position: absolute;
	left: 5px;
	top: 5px;

	
	// Skin
	background: {
		color: #fff;
	}

	// Effects
	@include border-radius( 25px );


}









/*
 * Comment input
 */
.lunch-comment-input {
	
	// Variables
	$lunch-comment-inp-color: #ddd;

	
	// Box
	border: none;
	padding: 0;
	margin: {
		top: 20px;
	}
	max-width: 600px;
	overflow:hidden;


	// Skin
	background: {
		color: transparent;
	}



	// Lunch Commentator
	.lunch-commentator {

		// Skin
		background: {
			color: #eee;
		}
	}



	// Children

	textarea {
		
		// Box
		display: block;
		border: {
			width: 0;
		}
		padding: {
			left: 0;
			top: 15px;
			bottom: 8px;
			right: 28px;
		}
		margin: {
			left: 60px;
		}
		min-width: 400px;
		max-width: 540px;
		height: 45px;
		min-height: 45px;
		@include box-sizing( border-box );

		// Skin
		font: {
			family: Georgia;
			style: italic;
		}
		border: {
			width: 0;
			bottom-width: 2px;
			style: dashed;
			color: #ccc;
		}


		// States
		&:hover {

			// Skin
			border: {
				color: #aaa;
			}
			background: {
				color: #eee;
			}
		}

	}


	.lunch-comment-interaction {
		// Box
		margin: {
			top: 5px;
		};
		overflow: hidden;


		// Position
		a {
			// Box
			float: right;
			display: block;
			padding: 7px 14px;
			border: {
				width: 2px;
				style: solid;
				color: $lunch-color-blu;
			}

			// Skin
			text-align: center;
			cursor: pointer;
			color: $lunch-color-blu;
			background-color: transparent;
			font: {
				family: Georgia, serif;
				size: 14px;
				style: italic;
			}

			// Effects 
			@include transition-property( border-color color );
			@include transition-duration( $lunch-time-out );


			// States
			&:hover {
				@include transition-duration( $lunch-time-over );
				border-color: $lunch-color-blu-dark;
				color: $lunch-color-blu-dark;
			}
		}

		.lunch-fn-comment-cancel {
			
			// Skin
			background-color: #ccc;


			// States 
			&:hover {
				background-color: #555;
			}
		}
	}
}