/* Header */



/* Mobile first */

.lunch-apppage-head {
	
	// Skin
	background: {
		color: $agencycolor;
	}
	color: white;

	.lunch-logo {
		height: 60px; // Overwrite Loginpage Styling
		
		margin: {
			top: 0;
			bottom: 0;
		}

		padding: {
			top: 20px;
			bottom: 20px;
		}

		img {
			height: 100%;
		}
	}
}



/* Medium sized Screen */

@mixin lunch-apppage-head-screen-m() {

	.lunch-apppage-head {
		
		text-align: right;
		width: 38.2%;

		
		// Positioning

		position: fixed;

		top: 0;
		bottom: 0;
		left: 0;


		.lunch-container {

			float: right;
			width: 300px;
		}

		.lunch-logo-container {

			display: block;

			text-align: right;


			border: {
				width: 0px;
				bottom-width: 0px;
				style: solid;
				color: white;
			}
		}

		.lunch-logo {
			text-align: right;
			display: block;
			height: 122px;
			width: 260px;
			float: right;
			

			padding: {
				top: 100px;
				right: 80px;
				left: 20px;
				bottom: 40px;
			}

			img {
				height: auto;
			}
		}
		
		.lunch-user {
			position: relative;
		}

		.lunch-user-image {
			display: block;
			position: absolute;
			top: -28px;
			right: 35px;

		}

		.lunch-user-name {
			text-align: right;
			line-height: 1em;
			padding: {
				left: 0;
				top: 20px;
				bottom: 15px;
				right: 80px;
				
			}
			font: {
				size: 1.8em;
				family: "bebas-neue", Arial;
			}
		}
		.lunch-user-surname {
			font: {
				family: Georgia;
			}
		}
	}
}









/*
 * User
 */

.lunch-user {
	text-align: center;
}









/* 
 * Nav Elements 
 */

.lunch-nav {

	text-align: center;

	padding: {
		top: 20px;
		bottom: 20px;
	}
}



/* Mixin for medium sized screens */

@mixin lunch-nav-screen-m() {

	.lunch-nav {

		text-align: right;

		padding: {
			top: 0;
			bottom: 0;
			right: 80px;
			left: 0;
		}
	}
}









/* Single Nav Element */

.lunch-nav-elem {
	
	font: {
		family: Georgia;
	}
	padding: {
		left: 10px;
		right: 10px;
	}

	display: inline;

	color: white;
	text-decoration: none;
	
	@include transition( color 1000ms );

	&:hover{
		color: #000;
		@include transition( color 200ms );
	}
}



/* Mixin for medium sized screens */

@mixin lunch-nav-elem-screen-m() {
	.lunch-nav-elem {
		
		display: block;

		padding: {
			left: 0;
			right: 0;
			top: 5px;
			bottom: 5px;
		}
	}
}










.lunch-logo-container {
	@extend .clearfix;
}




/* Collect all Medium Screen Styles here */

@mixin lunch-apppage-header-screen-m() {

	@include lunch-apppage-head-screen-m;
	@include lunch-nav-screen-m;
	@include lunch-nav-elem-screen-m;

}

// Apply

@media screen and (min-width: 960px) {

	@include lunch-apppage-header-screen-m;

}