/**
 * Lunchpad. Input/Elements
 * @author Joachim Fröstl <jf@19h13.com>
 */










/*
 * Vars
 */
$lunch-color-filter: #d5d5d5;
$lunch-color-filter-active: #555;








/*
 * Venue List Filter
 */

.lunch-venue-filter {

	// Box
	max-width: 700px;
	margin: {
		top: 15px;
		left: auto;
		right: auto;
	}
	padding: {
		top: 0;
		right: 30px;
		bottom: 0;
		left: 30px;
	}
	@include box-sizing(border-box);

	// Pos
	position: relative;

	// Skin
	background: {
		color: transparent;
	}

	// States
	&:hover {
		.lunch-venue-filter-input {
			@include transition-duration(100ms);
			border: {
				color: $lunch-color-filter-active;
			}
		}
		.lunch-venue-filter-btn {
			@include transition-duration(100ms);
			color: $lunch-color-filter-active;
		}
	}
}



/*
 * Mixin for medium screens
 */
@mixin lunch-venue-filter-mixin-m() {

	.lunch-venue-filter {

		margin: {
			left: 0;
		}
		padding: {
			left: 60px;
		}
	}
}








/*
 * Lunch Venue Filter Input
 * Mobile First
 */

.lunch-venue-filter-input {

	// Box
	display: block;
	width: 100%;
	padding: {
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 40px;
	};
	margin:{
		left: 0;
		right: auto;
	}
	border: {
		width: 0px;
		bottom-width: 2px;
		style: dashed;
		color: #d5d5d5;
	}
	@include box-sizing( border-box );

	// Skin
	background: {
		color: transparent;
	}
	font: {
		size: 18px;
		family: Georgia, sans-serif;
		style: normal;
	}

	// Effects
	@include transition-property( border-color );
	@include transition-duration( 200ms );

	// States
	&:focus,
	&:hover {
		border: {
			color: $lunch-color-filter-active;
		}
		~.lunch-venue-filter-btn{
			color: $lunch-color-filter-active;
		}
	}
}



/*
 * Mixin for medium screens
 */
@mixin lunch-venue-filter-input-mixin-s() {

	.lunch-venue-filter-input {

	}
}









/*
 * Lunch Venue Filter Btn
 */

.lunch-venue-filter-btn {

	// Box
	padding: 0;

	// Position
	position: absolute;
	left: 30px;
	top: 6px;

	// Skin
	font: {
		family: 'lunch-ico';
		size: 30px;
	}
	color: #ccc;

	// Effects
	@include transition-property( color );
	@include transition-duration( 0.5s );


	// States
	&:hover {
		cursor: text;
	}
}

@mixin lunch-venue-filter-btn-mixin-s() {
	.lunch-venue-filter-btn {
		left: 60px;
	}
}







/*
 * Collect all Small Sceen Styles here
 */
@mixin lunch-inputs-mixins-s() {
	@include lunch-venue-filter-input-mixin-s();
	@include lunch-venue-filter-btn-mixin-s();
}

/*
 * Collect all Medium Screen Styles here
 */
@mixin lunch-inputs-mixins-m() {
	@include lunch-venue-filter-mixin-m;
}
/*
 * Apply Small
 */
@media screen and ( min-width: $lunch-grid-break-s ) {
	@include lunch-inputs-mixins-s;
}

/*
 * Apply Medium
 */
@media screen and ( min-width: $lunch-grid-break-m ) {
	@include lunch-inputs-mixins-m;
}

/*
 * Apply Large
 */
