/*
 * Lunchpad. Header/Nav
 * @author Joachim Fröstl <jf@19h13.com>
 */









/* 
 * Mobile first 
 */
.lunch-header {
	
	// Box
	width: 100%;
	overflow: hidden;

	// Skin
	background: {
		color: $lunch-color-red;
	}
	color: white;


	
	// Logo
	.lunch-logo {

		// Box
		float: left;
		height: 50px; // Overwrite Loginpage Styling
		padding: {
			left: 0;
			top: 0;
			bottom: 0;
		}
		margin: {
			left: 30px;
			top: 20px;
			bottom: 20px;
		}
		
		// Childs
		img {
			height: 100%;
		}
	}
}



/* 
 * Medium sized Screens 
 */
@mixin lunch-header-screen-m() {

	.lunch-header {
		
		// Box
		width: 38.2%;
		padding: {
			right: 80px;
		}
		@include box-sizing(border-box);
		
		// Position
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 99;

		// Typography		
		text-align: right;


		
		// Navigation Container
		.lunch-nav-container {
			float: right;
			width: 300px;
		}
		


		// Logo
		.lunch-logo {
			
			// Box
			display: block;
			float: none;
			height: 122px;
			width: auto;
			padding: {
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
			}
			margin: {
				top: 75px;
				left: auto;
				right: 0;
				bottom: 60px;
			}

			// Childs
			text-align: right;
			img {
				height: auto;
			}
		}
	}
}









/*
 * Header User styles, mobile first
 */
.lunch-account {

	// Box
	height: 50px;
	width: 50px;
	margin: {
		top: 20px;
		right: 30px;
		bottom: 20px;
	}
	float: right;
	
	// Skin
	background: {
		color: $lunch-color-red-dark;
	}
	text-align: center;
	overflow: hidden;

	// Effects 
	@include border-radius( 25px );
	
}



/*
 * Account Name
 */
.lunch-account-name {
	display: none;
}



/* 
 * Medium sized screens
 */
@mixin lunch-header-account-screen-m() {	
	
	// Account/User
	.lunch-account {

		// Box
		width: auto;
		height: auto;
		margin: {
			top: 20px;
			right: 0;
			bottom: 15px;
			left: 0;
		}
		float: none;
		overflow: visible;

		// Position
		position: relative;


		// Skin
		background: {
			color: transparent;
		}

		// Effects
		@include border-radius( 0px );
	}
	
	// Avatar
	.lunch-account-image {

		// Box
		display: block;

		// Position
		position: absolute;
		bottom: -10px;
		right: -55px;
	}
	
	// Name of account
	.lunch-account-name {
		
		// Box
		display: block;
		padding: {
			left: 0;
			right: 0;
		}
		
		// Typo
		font: {
			size: 1.8em;
			family: "bebas-neue", Arial;
		}
		text-align: right;
		line-height: 1em;
	}
}









/* 
 * Nav Container 
 */
.lunch-nav {
	
	// Skin
	text-align: left;

	// States
	&:hover {
		.lunch-nav-list {
			height: 165px;
			padding: {
				top: 0px;
				bottom: 20px;
			}
		}
	}
}



/*
 * Mixin for medium sized screens 
 */
@mixin lunch-nav-mixin-m() {

	.lunch-nav {

		//Skin
		text-align: right; 
	}
}









/* 
 * Nav List 
 */
.lunch-nav-list {

	// Box
	height: 0;
	padding: {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	margin: {
		top: 0;
		bottom: 0;
	}
	clear: left;

	// Skin
	text-align: left;

	// Effects
	@include transition-property( height padding );
	@include transition-duration( 0.5s );
}



/*
 * Mixin for medium sized screens 
 */
@mixin lunch-nav-list-mixin-m() {

	.lunch-nav-list {

		// Box
		height: auto;
		padding: {
			top: 0;
			bottom: 0;
		}

		// Typo
		text-align: right;
	}
}









/* 
 * Single Nav Element 
 */
.lunch-nav-elem {
	
	// Box
	display: block;
	
	// Skin
	color: white;
	text-decoration: none;
	font: {
		family: Georgia;
	}
	
	// Pseudoselector
	&:first-child {
		border: {
			width: 0px;
			top-width: 1px;
			style: solid;
			color: $lunch-color-red-dark;
		}
		padding: {
			top: 20px;
		}
	}
	

	// States
	&:hover{

		a {
			// Skin
			color: #000;

			// Effects
			@include transition-duration( 200ms );
		}
	}

	// Children
	a, span {
		
		// Box
		display: block;
		padding: {
			top: 5px;
			right: 30px;
			bottom: 5px;
			left: 30px;
		}

		// Skin
		color: white;
		text-decoration: none;

		// Effects
		@include transition-property( color );
		@include transition-duration( 1000ms );

	}
	span {
		// Skin
		cursor: default;
	}
}



/* 
 * Mixin for medium sized screens 
 */
@mixin lunch-nav-elem-mixin-m() {
	
	.lunch-nav-elem {
		
		// Box
		display: block;
		padding: {
			left: 0;
			right: 0;
		}
	

		// Pseudoselector
		&:first-child {
			border: {
				width: 0px;
			}
			padding: {
				top: 0;
			}
		}

		// Children 
		a, span {
			padding: {
				left: 0;
				right: 0;
			}
		}
	}
}









/* 
 * Collection of all Medium Screen Style Mixins 
 */
@mixin lunch-header-mixins-screen-m() {

	@include lunch-header-screen-m;
	@include lunch-nav-list-mixin-m;
	@include lunch-nav-elem-mixin-m;
	@include lunch-header-account-screen-m;
}

/* 
 * Apply Mediaquery Mixins
 */
@media screen and (min-width: 960px) {

	@include lunch-header-mixins-screen-m;
}

/* 
 * IE fixes 
 */
.lt-ie9 {
	@include lunch-header-mixins-screen-m;
}

/* 
 * No JS 
 */
.no-js {}