/*
 * Lunchpad. Buttons
 * @author Joachim Fröstl <jf@19h13.com>
 */









/*
 * Button Variables
 */
$lunch-btn-rotate-start: 0deg;
$lunch-btn-rotate-hover: 360deg;









/*
 * Button Mixins
 */
@mixin hoverrotate( $rotation ){
	-moz-transform: rotate($rotation);  /* FF3.5+ */
	-o-transform: rotate($rotation);  /* Opera 10.5 */
	-webkit-transform: rotate($rotation);  /* Saf3.1+, Chrome */
	-ms-transform: rotate($rotation);  /* IE9 */
	transform: rotate($rotation);
}







/*
* Abstract round Button Styles
*/
%lunch-round-btn {

	// Box
	display: inline-block;
	overflow: hidden;
	padding: 0;
	color: white;
	background: {
		color: transparent;
	}
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	@include transition-property( background-color border-color color );
	@include transition-duration( $lunch-time-out );

	// Children
	.lunch-icon {
		padding: 10px;
		display: block;
		float: left;
		font: {
			family: 'lunch-ico';
			style: regular;
			size: 30px;
		}
		background: {
			color: $lunch-clr-grey-lgt;
		}
		@include border-radius(34px);
		@include hoverrotate( $lunch-btn-rotate-start );
		@include transition-property( transform border-color background-color );
		@include transition-duration( $lunch-time-out );
	}

	// Label
	.lunch-label {
		position: absolute;
		display: none;
	}

	// States
	&:hover{
		@include transition-duration( \$lunch-time-over );
		background: {
			color: transparent;
		}
		// Children
		.lunch-icon {
			@include hoverrotate( \$lunch-btn-rotate-hover );
			@include transition-duration( \$lunch-time-over );
			background: {
				color: $lunch-clr-grey;
			}
		}
	}
}


// abstract btn styles
%lunch-venue-head-btn {
	display: block;
	padding: 10px;
	color: #aaa;
	cursor: pointer;
	background: {
		color: #fff;
	}
	@include border-radius(2px);
	.lunch-icon {
		font: {
			size: 30px;
		}
	}
	.lunch-label {
		// Box
		display: none;

		float: left;
		padding: {
			top: 6px;
			bottom: 6px;
			left: 5px;
			right: 10px;
		}
	}
	&:hover {
		color: #555;
		background: {
			color: #eee;
		}
		.lunch-icon {
			border: {
				color: #555;
			}
		}
	}
}





/*
 * General Lunch venue Button Styles
 */
.lunch-venue-btn {

	// Box
	display: block;


	overflow: hidden;

	// Skin
	color: white;
	background: {
		color: transparent;
	}
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	text-align: center;
	cursor: pointer;


	// Effects
	@include transition-property( background-color border-color color );
	@include transition-duration( \$lunch-time-out );


	// Children
	.lunch-icon {

		// Box
		padding: 10px;
		border: {
			width: 0;
			style: solid;
			color: #555;
		}
		display: block;
		float: left;
		position: relative;

		// Skin
		font: {
			family: 'lunch-ico';
			style: regular;
			size: 30px;
		}


		// Effects
		@include border-radius(34px);
/* 		@include hoverrotate( \$lunch-btn-rotate-start );
@include transition-property( transform border-color background-color );
@include transition-duration( \$lunch-time-out ); */
	}


	.lunch-label {

		// Box
		display: block;
		float: left;
		height: 16px;
		padding: {
			top: 19px;
			bottom: 19px;
			right: 12px;
			left: 12px;
		}

		// Skin
		font: {
			family: Arial, sans-serif;
			style: normal;
			weight: bold;
		}
		color: inherit;
	}

	// States
	&:hover{

		// Skin
		background: {
			color: transparent;
		}

		// Effects
/* 		@include transition-duration( \$lunch-time-over ); */

		// Children
		.lunch-icon {
/* 			@include hoverrotate( \$lunch-btn-rotate-hover ); */
/* 			@include transition-duration( \$lunch-time-over ); */
		}
	}
}
