/*
 * Lunchpad. Buttons
 * @author Joachim Fröstl <jf@19h13.com>
 */









/*
 * Button Variables
 */
$lunch-btn-rotate-start: 0deg;
$lunch-btn-rotate-hover: 360deg;









/*
 * Button Mixins
 */
@mixin hoverrotate( $rotation ){
	-moz-transform: rotate($rotation);  /* FF3.5+ */
       -o-transform: rotate($rotation);  /* Opera 10.5 */
  -webkit-transform: rotate($rotation);  /* Saf3.1+, Chrome */
      -ms-transform: rotate($rotation);  /* IE9 */
          transform: rotate($rotation);  
}









/* 
 * General Lunch venue Button Styles
 */
.lunch-venue-btn {
	
	// Box
	display: block;
	width: 50px;
	height: 20px;
	padding: { 
		top:22px;
		bottom: 22px;
		left: 7px;
		right: 7px;
	}

	// Skin
	color: white;
	font: {
		family: Georgia;
		style: regular;
	}
	text-decoration: none;
	text-align: center;
	border-radius: 34px;
	
	// Effects
	@include hoverrotate( $lunch-btn-rotate-start );
	@include transition-property( background-color transform );
	@include transition-duration( $lunch-time-out );

	&:hover{
		@include hoverrotate( $lunch-btn-rotate-hover );
		@include transition-duration( $lunch-time-over );
	}
}