/*
 * Lunchpad. Input/Elements
 * @author Joachim Fröstl <jf@19h13.com>
 */










/*
 * Vars
 */
$lunch-color-filter: #d5d5d5;
$lunch-color-filter-active: #555;








/* 
 * Venue List Filter
 */

.lunch-venue-filter {

	// Box
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		top: 15px;
		right: 30px;
		bottom: 15px;
		left: 30px;
	}

	// Skin
	background: {
		color: transparent;
	}

	// States
	&:hover {
		.lunch-venue-filter-input {
			border: {
				color: $lunch-color-filter-active;
			}
		}
		.lunch-venue-filter-btn {
			color: $lunch-color-filter-active;
		}
	}
}



/* 
 * Mixin for medium screens 
 */
@mixin lunch-venue-filter-mixin-m() {
	
	.lunch-venue-filter {

		margin: {
			left: 0;
		}
		padding: {
			left: 60px;
			right: 60px;
		}
	}
}









/*
 * Lunch Venue Filter Form
 */
.lunch-venue-filter-form {
	
	// Box
	max-width: 560px;
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		top: 10px;
		right: 60px;
		bottom: 10px;
		left: 20px;
	}

	// Position
	position: relative;


	// Effects
	//@include border-radius( 25px );


	// States
	&:hover{

		// Skin
		color: #555;
		background: {
			color: #eee;
		}
	}

}



/*
 * Mixin for medium screens
 */
@mixin lunch-venue-filter-form-mixin-m() {
	.lunch-venue-filter-form {

		// Box
		margin: {
			left: -20px;
		}

	}
}







/* 
 * Lunch Venue Filter Input
 * Mobile First
 */

.lunch-venue-filter-input {
	
	// Box
	display: block;
	width: 100%;
	padding: {
		top: 5px;
		right: 10px;
		bottom: 4px;
		left: 10px;
	};
	margin:{
		left: 0;
		right: auto;
	}
	border: {
		width: 0;
		bottom-width: 2px;
		style: dashed;
		color: #d5d5d5;
	}
	@include box-sizing( border-box );

	// Skin
	background: {
		color: transparent;
	}
	font: {
		family: Georgia, sans-serif;
		style: italic;
	}

	// Effects
	@include transition-property( border-color );
	@include transition-duration( 0.5s );

	// States
	&:focus,
	&:hover {
		border: {
			color: $lunch-color-filter-active;
		}
		~.lunch-venue-filter-btn{
			color: $lunch-color-filter-active;
		}
	}
}



/* 
 * Mixin for medium screens 
 */
@mixin lunch-venue-filter-input-mixin-s() {

	.lunch-venue-filter-input {

		// Box
		margin: {
			left: 0;
		}
		padding: {
			left: 0;
			right: 10px;
		}
	}
}









/*
 * Lunch Venue Filter Btn
 */

.lunch-venue-filter-btn {
	
	// Box
	padding: 10px;

	// Position
	position: absolute;
	right: 0;
	top: 0;

	// Skin
	font: {
		family: 'lunch-ico';
		size: 30px;
	}
	color: #ccc;

	// Effects
	@include transition-property( color );
	@include transition-duration( 0.5s ); 
}









/*
 * Collect all Small Sceen Styles here
 */
@mixin lunch-inputs-mixins-s() {
	@include lunch-venue-filter-input-mixin-s();
}

/* 
 * Collect all Medium Screen Styles here 
 */
@mixin lunch-inputs-mixins-m() {
	@include lunch-venue-filter-form-mixin-m;
	@include lunch-venue-filter-mixin-m;
}
/*
 * Apply Small
 */
@media screen and ( min-width: $lunch-grid-break-s ) {
	@include lunch-inputs-mixins-s;
}

/* 
 * Apply Medium
 */
@media screen and ( min-width: $lunch-grid-break-m ) {
	@include lunch-inputs-mixins-m;
}

/*
 * Apply Large
 */ 