/*
 * lunchpad. Global Variables
 * @author Joachim Fröstl <jf@19h13.com>
 */ 

$lunch-color-red: #FF0046;
$lunch-color-red-dark: #C90037;
$lunch-color-blu: #00B9E7;
$lunch-color-blu-dark: #0083A3;
$lunch-color-grn: #ADE61A;
$lunch-color-grn-dark: #98D300;
$lunch-color-ylw: #FFEC88;
$lunch-color-ylw-dark: #FFD600;

// Timer
$lunch-time-over: 200ms;
$lunch-time-out: 750ms;


// Grid
$lunch-grid-break-s: 680px;
$lunch-grid-break-m: 960px;

