/* 
 * Lunchpad Main Typo Styles
 * @author Joachim Fröstl <jf@19h13.com>
 */

h1 {
	font: {
		family: 'Cubano Sharp', sans-serif;
		size: 1em;
		weight: 200;
	}
}


/*
 * Iconfont
 */
@include font-face( "lunch-ico",
	font-files(
		'lunch-ico.woff', woff,
		'lunch-ico.ttf', ttf,
		'lunch-ico.svg', svg),
		'lunch-ico.eot');







/*
 * Icons
 */

.lunch-icon {
	// Skin
	font: {
		family: "lunch-ico";
	}
	-webkit-font-smoothing: antialiased;
}