/*
 * Angular Animation classes (and perhaps the other ones too)
 *
 * All animation classes start with anim-[name]
 */



/*
 * Angular!
 */



// state change animation
.lunch-view-container.ng-enter, .lunch-view-container.ng-leave {
	@include transition( all .7s ease );
}



/*
 * Animations on View Container
 */
.lunch-view-container.ng-enter {
	position: fixed;
	top: 0;
	left:0;
	margin-left: 100%;
	width: 100%;
}

.lunch-view-container.ng-enter-active {
	margin-left: 0%;
}

.lunch-view-container.ng-leave {
	position: relative;
	margin-left: 0;
}

.lunch-view-container.ng-leave-active {
	margin-left: -100%;
}



/*
 * Come back
 */
.back .lunch-view-container.ng-enter {
	position: fixed;
	width: 100%;
	top: 0;
	left:0;
	margin-left: -100%;
}

.back .lunch-view-container.ng-enter-active {
	margin-left: 0%;
}

.back .lunch-view-container.ng-leave {
	position: relative;
	margin-left: 0%;
}

.back .lunch-view-container.ng-leave-active {
	margin-left: 100%;
}




@mixin lunch-view-container-animation-mixin-m() {

	.lunch-view-container.ng-enter {
		position: fixed;
		top:0;left:0;
		margin-left: 100%;
		width: 61.8%;
	}

	.lunch-view-container.ng-enter-active {
		margin-left: 38.2%;
	}

	.lunch-view-container.ng-leave {
		position:relative;
		margin-left: 38.2%;
	}

	.lunch-view-container.ng-leave-active {
		margin-left: -23.6%;
	}


	// backwards compatible ;)

	.back .lunch-view-container.ng-enter {
		position: fixed;
		width: 61.8%;
		top:0;
		left:0;
		margin-left: -23.6%;
	}

	.back .lunch-view-container.ng-enter-active {
		margin-left: 38.2%;
	}

	.back .lunch-view-container.ng-leave {
		position:relative;
		margin-left: 38.2%;
	}

	.back .lunch-view-container.ng-leave-active {
		margin-left: 100%;
	}
}









// slide vertical for venues

.lunch-venue.ng-enter, .lunch-venue.ng-leave{
	@include transition( all .7s ease );
}/*
.anim-venue-slide.ng-move{
	@include transition( all 4s ease 0 );
}*/

.lunch-venue.ng-enter {
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
}
.lunch-venue.ng-enter-active {
	max-height: 500px;
	opacity: 1;
}
.lunch-venue.ng-leave {
	max-height: 500px;
	overflow: hidden;
	opacity: 1;
}
.lunch-venue.ng-leave-active {
	max-height: 0px;
	opacity: 0;
}



/*
 * Guest Container
 */
/* .lunch-venue-guests.ng-add, .lunch-venue-guests.ng-remove {
	@include transition( all .7s ease );
}

.lunch-venue-guests.ng-add {
	max-height: 0px;
}

.lunch-venue-guests.ng-add-active {
	max-height: 300px;
}

.lunch-venue-guests.ng-remove {
	max-height: 300px;
}

.lunch-venue-guests.ng-remove-active {
	max-height: 0px;
} */



/*
 * Guest Animation
 */
.lunch-venue-guest.ng-enter, .lunch-venue-guest.ng-leave {
	display: block;
	@include transition( all .25s ease );
}

.lunch-venue-guest.ng-enter {
	left: 40px;
	width: 0px;
	overflow: visible;
	opacity: 0;
}

.lunch-venue-guest.ng-enter-active {
	width: 40px;
	left: 0px;
	opacity: 1;
}

.lunch-venue-guest.ng-leave {
	width: 40px;
	left: 0;
	overflow: visible;
	opacity:1;
}

.lunch-venue-guest.ng-leave-active {
	width: 0px;
	left: 10px;
	opacity: 0;
}




// fade stati in and out

.anim-status-fade.ng-enter, .anim-status-fade.ng-leave {
	@include transition( all .5 ease );
}

.anim-status-fade.ng-enter {
	opacity: 0;
}

.anim-status-fade.ng-enter-active {
	opacity: 1;
}

.anim-status-fade.ng-leave {
	opacity:1;
}

.anim-status-fade.ng-leave-active {
	opacity: 0;
}






/*
 * Collect all Small Sceen Styles here
 */
@mixin lunch-animation-mixins-s() {

}

/*
 * Collect all Medium Screen Styles here
 */
@mixin lunch-animation-mixins-m() {
	@include lunch-view-container-animation-mixin-m();
}

/*
 * Apply Small
 */
@media screen and ( min-width: $lunch-grid-break-s ) {
	@include lunch-animation-mixins-s;
}

/*
 * Apply Medium
 */
@media screen and ( min-width: $lunch-grid-break-m ) {
	@include lunch-animation-mixins-m;
}

/*
 * Apply Large
 */
