/*
 * lunchpad. Global Variables
 * @author Joachim Fröstl <jf@19h13.com>
 */

$lunch-color-white: #fff;
$lunch-color-red: #FF0046;
$lunch-color-red-dark: #C90037;
$lunch-color-blu: #00B9E7;
$lunch-color-blu-dark: #0083A3;
$lunch-color-grn: #ADE61A;
$lunch-color-grn-dark: #98D300;
$lunch-color-ylw: #FFEC88;
$lunch-color-ylw-dark: #FFD600;
$lunch-color-ylw-ligh: #FFFCEA;

$lunch-clr-grey-xxlgt: #f7f7f7;
$lunch-clr-grey-xlgt: #eee;
$lunch-clr-grey-lgt: #ddd;
$lunch-clr-grey: #999;

$lunch-clr-blue: #00B9E7;
$lunch-clr-blue-drk: #0083A3;

$lunch-clr-red: #FF0046;
$lunch-clr-red-drk: #C90037;

// Timer
$lunch-time-over: 100ms;
$lunch-time-out: 750ms;


// Grid
$lunch-grid-break-s: 680px;
$lunch-grid-break-m: 960px;
