/*
 * Styles for lunchpad admin view
 * @author Joachim Fröstl <jf@19h13.com>
 */

.lunch-view-admin {

	input {
		display: block;
	}

	.lunch-button {
		float: right;
	}

	select {
		width: 100%;
	}
	
	textarea {
		display: block;
		width: 100%;
		margin: 1em 0;
		min-height: 160px;
		font: {
			family: monospace;
			size: 14px;
		}
		tab-size: 2;
	}

	pre {
		margin: {
			top: 40px;
			bottom: 40px;
		}
		padding: 12px 10px;
		font: {
			family: monospace;
			size: 14px;
		}
		border: {
			width: 2px;
			style: solid;
			color: #f7f7f7;
		}
	}
}
