/*
 * Styles for venue view
 * @author Joachim Fröstl <jf@19h13.com>
 */

.lunch-view-venue {

	// margin: {
	// 	top: 30px;
	// 	left: 30px;
	// 	right: 30px;
	// }


	.lunch-fn-back {
		// Inherit
		//@extend .lunch-venue-btn;

		// Box
		//float: left;
		display: inline-block;
		overflow: hidden;
		margin: {
			top: 10px;
			left: -15px;
		}
		padding: 10px 15px;
		

		// Skin
		color: #aaa;
		cursor: pointer;
		background: {
			color: #fff;
		}


		// Effects
		//@include border-radius( 25px );
		
		// Children
		.lunch-icon {
			float: left;
			font: {
				size: 30px;
			}
			border: {
				color: #ddd;
			}
		}
		.lunch-label {
			// Box
			display: block;

			float: left;
			padding: {
				top: 6px;
				bottom: 6px;
				left: 5px;
				right: 10px;
			}
		}

		// States
		&:hover {

			// Skin
			color: #555;
			background: {
				color: #eee;
			}

			.lunch-icon {
				border: {
					color: #555;
				}
			}
		}
	}


	.lunch-fn-quit {
		
		@include transform(none);
		
		// Box
		float: left;

		// Position
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;

		.lunch-icon {
			padding: 0;
			border: none;
			float: left;
		}
	}
	
	.lunch-fn-menu, 
	.lunch-fn-invite {

		// Box
		display: inline-block;
		margin: 0;
		padding: 7px 14px;
		border: {
			width: 2px;
			color: #aaa;
			style: solid;
		}
		vertical-align: top;

		// Position
		position: relative;
		left: auto;
		bottom: auto;
		right: auto;
		top: auto;


		// Skin
		color: #aaa;
		background: {
			color: transparent;
		}
		
		// Children 

		.lunch-label {
			
			padding: {
				left: 5px;
				right: 5px;
			}
			font: {
				family: Georgia, serif;
				style: italic;
				size: 14px;
			}
			color: #aaa;

		}
		.lunch-icon {

			font: {
				style: normal;
				size: 18px;
			}
			color: #aaa;
			border: none;
			float: left;
		}
	}

	
	.lunch-venue-header {
		
		// Box
		display: table;
		width: 100%;
		max-width: 600px;
		margin: {
			top: 0;
			left: 60px;
			right: 60px;
		}
	}



	.lunch-venue-title {
		
		// Box
		clear: left;
		display: block;
		margin: {
			top: 30px;
		}

		// Skin
		font: {
			size: 60px;
		}
	}



	.lunch-venue-interaction {
		// Box
		max-width: 600px;
		padding: {
			top: 10px;
			left: 60px;
			right: 60px;
			bottom: 50px;
		}
	
		overflow: hidden;
		clear: left;

	}


	.lunch-venue-guests {

		// Box
		max-width: 600px;
		padding: 0;
		margin: {
			top: 20px;
			left: 0;
			right: 0;
			bottom: 20px;
		}


		
		// Position
		position: relative;


		// Skin
		text-align: center;
	}

}