/*
 * Styles for venue view
 * @author Joachim Fröstl <jf@19h13.com>
 */

.lunch-view-venue {

	// margin: {
	// 	top: 30px;
	// 	left: 30px;
	// 	right: 30px;
	// }


	.lunch-fn-back {
		// Inherit
		//@extend .lunch-venue-btn;

		// Box
		//float: left;
		display: inline-block;
		overflow: hidden;
		margin: {
			top: 10px;
			left: -15px;
		}
		padding: 10px 15px;
		

		// Skin
		color: #ddd;
		cursor: pointer;
		background: {
			color: #fff;
		}


		// Effects
		@include border-radius( 25px );
		
		// Children
		.lunch-icon {
			float: left;
			font: {
				size: 30px;
			}
			border: {
				color: #ddd;
			}
		}
		.lunch-label {
			// Box
			display: block;

			float: left;
			padding: {
				top: 6px;
				bottom: 6px;
				left: 5px;
				right: 10px;
			}
		}

		// States
		&:hover {

			// Skin
			color: #555;
			background: {
				color: #eee;
			}

			.lunch-icon {
				border: {
					color: #555;
				}
			}
		}
	}

	.lunch-fn-attend,
	.lunch-fn-quit {
		
		@include transform(none);
		
		// Box
		float: left;

		// Position
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;

		.lunch-icon {
			float: left;
		}
	}

	.lunch-fn-menu {
		// Inherit
		@extend .lunch-venue-btn;

		// Box
		float: left;
		padding: 0;

		font: {
			style: normal;
		}

		// Children 
		.lunch-label {
			color: #444;
		}
		.lunch-icon {
			float: left;
		}
	}

	
	.lunch-venue-header {
		
		// Box
		overflow: hidden;
		max-width: 600px;
		padding: {
			top: 0;
			left: 60px;
			right: 60px;
		}
	}



	.lunch-venue-title {
		
		// Box
		clear: left;
		display: block;
		margin: {
			top: 30px;
		}

		// Skin
		font: {
			size: 60px;
		}
	}



	.lunch-venue-interaction {
		// Box
		max-width: 600px;
		padding: {
			top: 10px;
			left: 60px;
			right: 60px;
			bottom: 50px;
		}
	
		overflow: hidden;
		clear: left;

	}


	.lunch-venue-guests {

		// Box
		max-width: 600px;
		padding: {
			top: 40px;
			right: 60px;
			bottom: 40px;
			left: 60px;
		}
		margin: {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}


		// Skin
		text-align: center;
	}

}