<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>19:13 Lunchpad</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="../static/css/screen.css">

		<script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
	</head>

	<body class="lunch-page-app">
		


		<!-- Header -->

		<header class="lunch-apppage-head">



			<!-- Logo -->

			<h1>19:13 Lunchpad</h1>



			<!-- User -->

			<div class="lunch-user">
				<img src="" alt="" class="lunch-user-image">
				<div class="lunch-user-name">Jogga Fröstl</div>
				<button class="lunch-fn-logout">log out</button>
			</div>
			

			
			<!-- Notification Settings -->
			
			<div class="lunch-notifications">
				<button class="lunch-fn-notify">Notify me</button>
			</div>


			
			<!-- Time -->

			<div class="lunch-timer">
				<span class="lunch-icon">O'clock</span>
				<span class="lunch-label">11:15</span>
			</div>




		</header>
		


		<!-- Content: List of Venues -->

		<div class="lunch-apppage-body">

			

			<!-- 
			Single Lunch Venue 
			Should become a template
			-->
			<div class="lunch-venue">
				
				<h2 class="lunch-venue-title">Scheidegger</h2>

				<a href="" class="lunch-fn-menu">View Menu</a>

				<div class="lunch-venue-group">

					<!-- Venue Guest -->

					<div class="lunch-venue-guest">
						<img src="meh.jpg" alt="" class="lunch-user-image" alt="JF">
					</div>
					
				</div>
			</div><!-- END Venue -->



			<button class="lunch-fn-addvenue">Add Venue</button>
			
		</div><!-- End List of Restaurants -->

	</body>
</html>
