<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="lunchpadLogin" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="lunchpadLogin" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="lunchpadLogin" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="lunchpadLogin" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>19:13 Lunchpad</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Style -->
		<link rel="stylesheet" href="../static/css/app.css">
		<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"/>

		<!-- Type kit -->
		<script type="text/javascript" src="//use.typekit.net/tjo7bse.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- angular and socket.io -->
		<script type="text/javascript" src="./socket.io/socket.io.js"></script>
		<script type="text/javascript" src="../static/js/libraries.js"></script>
		<script type="text/javascript" src="../static/js/app.js"></script>

	</head>
	<body class="lunch-page-login">

		<header>
			<div  href="#" class="lunch-logo">
				<img src="../static/img/logo-lp.png" alt="">
			</div>
			<h1>Lunchpad.co</h1>
		</header>

		<section lp-promo="buzzfeed"></section>

		<section class="lunch-section-login">
			<form action="/auth/login" method="post" class="lunch-login-form">
				<fieldset>
					<div>
						<label for="username" class="lunch-input-text-label">Username</label>
						<div class="lunch-input-contain">
							<input type="text" name="username" class="lunch-inp-username">
						</div>
					</div>
					<div>
						<label for="password" class="lunch-input-text-label">Password</label>
						<div class="lunch-input-contain">
							<input type="password" name="password" class="lunch-inp-password">
						</div>
					</div>
				</fieldset>
				<fieldset>
					<button type="submit" class="lunch-button">Login</button>
				</fieldset>





			</form>
		</section>

		<footer class="lunch-footer">
			<nav>
				<ul>
					<li><a href="http://www.19h13.com" title="19:13 Werbeagentur">19:13 Command Center</a></li>
					<li><a href="https://github.com/marcorei/lunchpad" title="Manifesto">Source auf Github</a></li>
					<li>by <a href="https://twitter.com/marcorei" title="marcorei auf twitter">@marcorei</a> &amp; <a href="https://twitter.com/joggaf" title="joggaf auf twitter">@joggaf</a></li>
				</ul>
			</nav>
		</footer>

	</body>
</html>
