<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>19:13 Lunchpad</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="../static/css/screen.css">
		<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"/>

		<script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>

		<!-- Type kit -->
		<script type="text/javascript" src="//use.typekit.net/tjo7bse.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- angular and socket.io -->
		<script type="text/javascript" src="../static/js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="../static/js/vendor/angular-animate.min.js"></script>
		<script type="text/javascript" src="../static/js/vendor/angular-route.min.js"></script>
		<script type="text/javascript" src="../static/js/front.js"></script>

	</head>

	<body ng-app="lunchpadApp" class="lunch-page-app">
		


		<!-- Header -->

		<header class="lunch-apppage-head">



			<!-- Logo -->
			<div class="lunch-logo-container">
				<a  href="#" class="lunch-logo">
					<img src="../static/img/logo.png" alt="">
				</a>
			</div>


			<div class="lunch-container">



				<!-- User -->

				<div class="lunch-user" ng-controller="DetailsCtrl">
					

					<!-- User Name -->
					<img src="{{details.user.img}}" alt="" class="lunch-user-image">
					<div class="lunch-user-name">{{detils.user.name}}</div>

					<!-- Time -->
					<div class="lunch-timer">It's {{details.day}}</div>

					<!-- Notification Settings -->
					<!--
					<div class="lunch-fn-notify">
						<input type="checkbox" id="notifications" class="lunch-inp-notify">
						<label for="notifications">I like Emails!</label>
					</div>
					-->

					<!-- Settings Mode -->
					<a href="#/settings" class="">Settings</a>
					<a href="#/venue/1" class="">Detail</a>
					<a href="#/venues" class="">Ois</a>

					<a href="/logout" class="lunch-fn-logout">Logout</a>

				</div>
			

			</div>


		</header>



		<!-- Error -->

		<div class="lunch-flash" ng-controller="ErrorCtrl" ng-show="errors">

			<div class="lunch-flash-container">

				<a href="javascript:closeError()" class="lunch-flash-close">X</a>
				<ul>
					<li ng-repeat="error in errors">{{error.msg}}</li>
				</ul>

			</div>
		</div>
		



		<!-- Content -->

		<div ng-controller="ViewCtrl" ng-class="stateAnimClass">
			<div ng-view class="lunch-view-container"></div>
		</div>











  	



		<!-- Flash Gordon Savior of the Universe -->
		


		




	</body>
</html>
