<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>19:13 Lunchpad</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="../static/css/screen.css">

		<script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="../static/js/vendor/jquery.js"></script>
		<script src="../static/js/vendor/pure.js"></script>
		<script src="../static/js/vendor/eventDispatcher.js"></script>
		<script src="../static/js/vendor/timer.js"></script>

		<!-- Type kit -->
		<script type="text/javascript" src="//use.typekit.net/tjo7bse.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body class="lunch-page-app">
		


		<!-- Header -->

		<header class="lunch-apppage-head">



			<!-- Logo -->
			<div class="lunch-logo-container">
				<a  href="#" class="lunch-logo">
					<img src="../static/img/logo.png" alt="">
				</a>
			</div>


			<div class="lunch-container">



				<!-- User -->

				<div class="lunch-user">
					

					<!-- User Name -->
					<img src="../static/img/jf.png" alt="" class="lunch-user-image">
					<div class="lunch-user-name"></div>

					<!-- Time -->
					<div class="lunch-timer">
						<span class="lunch-icon">O'clock</span>
						<span class="lunch-label">11:15</span>
					</div>

					<!-- Notification Settings -->
					<div class="lunch-fn-notify">
						<input type="checkbox" id="notifications" class="lunch-inp-notify">
						<label for="notifications">I like Emails!</label>
					</div>

					<a href="/logout" class="lunch-fn-logout">Logout</a>

				</div>
			

			</div>


		</header>
		


		<!-- Content: List of Venues -->

		<div class="lunch-apppage-body">
			
				
			<!-- Flash Gordon Savior of the Universe
			<div class="lunch-flash">

				<div class="lunch-flash-container">
					<a href="" class="lunch-flash-close">X</a>
					<p>My Database doesn't include the routines of human peer-bounding</p>
				</div>
			</div> -->




			<!-- 
			Single Lunch Venue 
			Should become a template
			-->

				<div class="lunch-venue">
					
					<h2 class="lunch-venue-title"></h2>

					<div class="lunch-venue-header">
						<a href="" class="lunch-fn-menu">View Menu</a>
					</div>

					<div class="lunch-venue-guests-container">
						<div class="lunch-venue-guests">
							<img src="" alt="" class="lunch-user-image" alt="MM">
						</div>

						<a href="" class="lunch-fn-attend lunch-venue-guest">Go!</a>
					</div>
				</div><!-- END Venue -->



		</div><!-- End List of Restaurants -->
		</div>


	<script type="text/javascript">

	var userData = {
		"error" : "",
		"user": {
			"name":"jf@19h14.com",
			"img": "../static/img/jf.png",
			"notify": "1"
		}
	}

	var venueData = {
		"error" : "",
		"venues" : 	[
			{
				"name": "void",
				"url": "http://www.foursquare.com",
				"users": [
					{
						"name" : "mr",
						"img" : "../static/img/mr.png"
					},
					{
						"name" : "mk",
						"img" : "../static/img/mk.png"
					},
					{
						"name" : "mrz",
						"img" : "../static/img/mrz.png"
					}
				]
			},
			{
				"name": "Scheidegger",
				"url": "http://www.scheidegger-schwabing.com",
				"users": [
					{
						"name" : "kb",
						"img" : "../static/img/kb.png"
					},
					{
						"name" : "kh",
						"img" : "../static/img/kh.png"
					}
				]
			},
			{
				"name": "Alfons Cafe",
				"url": "http://www.alfons.com",
				"users": [
					{
						"name" : "mr",
						"img" : "../static/img/mr.png"
					},
					{
						"name" : "vb",
						"img" : "../static/img/vb.png"
					},
					{
						"name" : "mk",
						"img" : "../static/img/mk.png"
					},
					{
						"name" : "mrz",
						"img" : "../static/img/mrz.png"
					}
				]
			},
			{
				"name": "TestVenue2",
				"url": "http://www.foursquare.com",
				"users": [
					{
						"name" : "mr",
						"img" : "../static/img/mr.png"
					},
					{
						"name" : "mk",
						"img" : "../static/img/mk.png"
					},
					{
						"name" : "mrz",
						"img" : "../static/img/mrz.png"
					},
					{
						"name" : "jk",
						"img" : "../static/img/jk.png"
					},
					{
						"name" : "jw",
						"img" : "../static/img/jw.png"
					}
				]
			},
			{
				"name": "Assiboazn Uno Monacco",
				"url": "http://www.foursquare.com",
				"users": [
					{
						"name" : "jf",
						"img" : "../static/img/jf.png"
					}
				]
			}
		]
	}



	/* Directive to parse the venues */
    var venueDirective = {

    	'.lunch-venue' : {
    		'venue<-venues': {
				'.lunch-venue-title':'venue.name',
				'.lunch-fn-menu@href':'venue.url',	
				'.lunch-venue-guests' : {
					'user<-venue.users': {
						'.lunch-user-image@src':'user.img',
						'.lunch-user-image@alt':'user.name',
					}
				}
			},
			sort:function(a, b){
		      return a.users < b.users ? 1 : -1;
		    }
		}
    }



    /* Directive to parse the User */
    var userDirective = {
 
		'.lunch-user-name':'user.name',
		'.lunch-user-image':'user.image',
		'.lunch-inp-notify@checked': 'user.notify'

    }






    /* Run Templateing of Venues*/
  	var refreshVenueData = function() {
  		$('.lunch-user').render(userData, userDirective);
		$('.lunch-apppage-body').render(venueData, venueDirective);
	}






	/* Ajax Request */
	$.ajax({
		url: "http://fiddle.jshell.net/favicon.png",
		beforeSend: function ( xhr ) {
		xhr.overrideMimeType("text/plain; charset=x-user-defined");
		}
		}).done(function ( data ) {
	if( console && console.log ) {
		console.log("Sample of data:", data.slice(0, 100));
		}
	});


	/* Test the Timer */
	var timer = marcorei.tools.Timer;

	var timy = new timer(1, 2);
	timy.start;


	/* On Window Load */
	$(refreshVenueData);

	</script>
	</body>
</html>
