<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>19:13 Lunchpad</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="../static/css/screen.css">

		<script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="../static/js/vendor/jquery.js"></script>
		<script src="../static/js/vendor/pure.js"></script>
		<script src="../static/js/vendor/eventDispatcher.js"></script>
		<script src="../static/js/vendor/timer.js"></script>

		<!-- Type kit -->
		<script type="text/javascript" src="//use.typekit.net/tjo7bse.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body class="lunch-page-app">
		


		<!-- Header -->

		<header class="lunch-apppage-head">



			<!-- Logo -->
			<div class="lunch-logo-container">
				<a  href="#" class="lunch-logo">
					<img src="../static/img/logo.png" alt="">
				</a>
			</div>


			<div class="lunch-container">



				<!-- User -->

				<div class="lunch-user">
					

					<!-- User Name -->
					<img src="../static/img/jf.png" alt="" class="lunch-user-image">
					<div class="lunch-user-name"></div>

					<!-- Time -->
					<div class="lunch-timer">
						<span class="lunch-icon">O'clock</span>
						<span class="lunch-label">11:15</span>
					</div>

					<!-- Notification Settings -->
					<div class="lunch-fn-notify">
						<input type="checkbox" id="notifications" class="lunch-inp-notify">
						<label for="notifications">I like Emails!</label>
					</div>

					<a href="/logout" class="lunch-fn-logout">Logout</a>

				</div>
			

			</div>


		</header>
		


		<!-- Content: List of Venues -->

		<div class="lunch-apppage-body">
			
				
			<!-- Flash Gordon Savior of the Universe
			<div class="lunch-flash">

				<div class="lunch-flash-container">
					<a href="" class="lunch-flash-close">X</a>
					<p>My Database doesn't include the routines of human peer-bounding</p>
				</div>
			</div> -->




			<!-- 
			Single Lunch Venue 
			Should become a template
			-->
			<div class="lunch-venue">
				
				<h2 class="lunch-venue-title"></h2>

				<div class="lunch-venue-header">
					<a href="" class="lunch-fn-menu">View Menu</a>
				</div>

				<div class="lunch-venue-guests-container">
					<div class="lunch-venue-guests">
						<img src="" alt="" class="lunch-user-image" alt="MM">
					</div>

					<a href="" class="lunch-fn-attend">Go!</a>
				</div>

			</div><!-- END Venue -->

			<!-- 
			Single Lunch Venue 
			Should become a template
			-->
			<div class="void-venue">
				
				<h2 class="lunch-venue-title">Spalter</h2>

				<div class="lunch-venue-header">
					Wir sind raus!
				</div>

				<div class="lunch-void-guests-container">
					<div class="lunch-venue-guests">
						<img src="" alt="" class="lunch-user-image" alt="MM">
					</div>

					<a href="javascript:visitVenue()" class="lunch-fn-attend">Out!</a>
				</div>

			</div><!-- END Venue -->


			<!-- 
			============
			Create Venue 
			============
			-->
			<form action="" class="lunch-venue-create" id="">
				<input type="text" name="venuename" class="venue-title-input" placeholder="New Venue Name">
				<input type="text" name="venueurl" class="venue-menu-input" placeholder="Link to Menu">

				<div class="lunch-venue-guests-container">
					<a href="javascript:addVenue()" class="lunch-fn-addvenue">Add!</a>
				</div>

			</form>

		</div><!-- End List of Restaurants -->
		</div>


	<script type="text/javascript">




	/* Directive to parse the venues */
    var venueDirective = {
    	'.lunch-venue' : {
    		'venue<-venues': {
				'.lunch-venue-title':'venue.name',
				'.lunch-fn-menu@href':'venue.url',	
				'.lunch-venue-guests' : {
					'user<-venue.users': {
						'.lunch-user-image@src':'user.img',
						'.lunch-user-image@alt':'user.name',
					}
				}
			},
			sort:function(a, b){
		      return a.users < b.users ? 1 : -1;
		    }
		}		
    }



    /* Directive for Voidvenue */
    var voidDirective = {
		'.lunch-venue-guests' : {
			'user<-voidvenue.users': {
				'.lunch-user-image@src':'user.img',
				'.lunch-user-image@alt':'user.name',
			}
		}
    }



    /* Directive to parse the User */
    var userDirective = {
		'.lunch-user-name':'name',
		'.lunch-user-image':'image',
		'.lunch-inp-notify@checked': 'notify'
    }





  	/*	$('.lunch-user').render(userData, userDirective);
		$('.lunch-apppage-body').render(venueData, venueDirective);
		$('.void-venue').render(venueData, voidDirective);
	*/


	var venueData;

	var serverUrl = "http://localhost:1924";



	// Venue Data

	var refreshVenueData = function( data ) {

		if (data.error === ""){

			for (var i = data.venues.length - 1; i >= 0; i--) {
				data.venues.[i].id = "i";
			};
			$('.lunch-apppage-body').render(data, venueDirective);
			$('.void-venue').render(data, voidDirective);
		} else {
			alert('error!' + data.error);
		}
	}

    var requestVenueData = function() {
	    $.ajax({
	  		url: serverUrl + "/get/venues",
			success: function(data) {

				refreshVenueData( data );
			}
		});
	}


	// Userdata

	var refreshUserData = function( data ) {
		if (data.error === ""){
			$('.lunch-user').render(data, userDirective);
		} else {
			alert('error!' + data.error)
		}


		// Bind Event Listener

		$('input[type=checkbox]').change(function() {
			if (this.checked) {
				changeNotify(true);
			} else {
				changeNotify(false);
			}
		});
	}

	var requestUserData = function() {
	    $.ajax({
	  		url: serverUrl + "/get/user",
			success: function(data) {

				refreshUserData( data );
			}
		});
	}



	// Notify 

	var changeNotify = function( notifyState ){

		$.ajax({
		  type: "POST",
		  url: serverUrl + '/post/notify',
		  data: { 'notify': notifyState},
		  success: function(data) {
		  		console.log(data);
			}
		});
	}



	// Create New Venue

	var addVenue = function() {
		 $.ajax({
        	type: "POST",
        	url: serverUrl + '/post/venue',
			data: $('form.lunch-venue-create').serialize(),
			success: function(data){
				console.log(data);
			}
		});
	}




	// Visit Venue

	var visitVenue = function( id ) {
		 $.ajax({
        	type: "POST",
        	url: serverUrl + '/post/visit',
        	data: id,
        	success: function(data){

        	}
        });
	}


	/* Test the Timer */
	var timer = marcorei.tools.Timer;

	var timy = new timer(1, 2);
	timy.start;


	</script>
	</body>
</html>
