<nav class="lunch-nav">

	<div class="lunch-account">
		<img src="{{user.ava}}" alt="" class="lunch-account-image">
		<div class="lunch-account-name">{{user.nick}}</div>
	</div>

	<ul class="lunch-nav-list">
		<li class="lunch-nav-elem">
			<a href="#/venues" class="lunch-fn-xx">Venues</a>
		</li>
		<li class="lunch-nav-elem">
			<a href="#/" class="lunch-fn-new">New Venue</a>
		</li>
		<li class="lunch-nav-elem">
			<a href="#/settings/self" class="lunch-fn-settings">Profile</a>
		</li>
		<li class="lunch-nav-elem" ng-show="user.role == 'admin'">
			<a href="#/admin" class="lunch-fn-settings">Admin Panel</a>
		</li>
	</ul>
</nav>
