<div class="lunch-view-admin">

	<h1>Admin Panel</h1>

	<section>
		<div>
			<h2>Users</h2>
			<button>Add User</button>
			<button>Remove User</button>
		</div>

		<ul class="lunch-users">
			<li class="lunch-user">
				<input type="checkbox">
				<img src="" alt="user's profile pic">
				<p>name</p>
				<ul class="lunch-items">
					<li class="lunch-item"><img src="" alt="item pic"></li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<button>give item(s)</button>
		<button>remove item(s)</button>
	</section>

	<section>
		<div>
			<h2>Items</h2>
			<button>Add User</button>
			<button>Remove User</button>
		</div>

		<ul class="lunch-items">
			<li class="lunch-item">
				<input type="checkbox">
				<img src="" alt="item pic">
			</li>
		</ul>
	</section>

</div>
