<main class="lunch-view-venue lunch-animate">

	<header>
		<a ng-click="back()" class="lunch-fn-back">
			<span class="lunch-icon">B</span>
			<span class="lunch-label">back</span>
		</a>
		<a ng-click="edit(venue._id)" class="lunch-fn-edit">
			<span class="lunch-icon">E</span>
			<span class="lunch-label">edit</span>
		</a>
		<h1>{{venue.name}}</h1>
	</header>

	<section class="lunch-venue-reception">
		<div class="lunch-venue-interaction">
			<a class="lunch-fn-menu">
				<span class="lunch-icon">M</span>
				<span class="lunch-label">View Menu</span>
			</a>
			<a ng-hide="venue.attending" class="lunch-fn-attend" ng-click="checkIn(venue._id)">
				<span class="lunch-icon">Y</span>
				<span class="lunch-label">lunch here</span>
			</a>
			<a ng-show="venue.attending" class="lunch-fn-quit" ng-click="checkOut(venue._id)">
				<span class="lunch-icon">N</span>
				<span class="lunch-label">Cancel</span>
			</a>
			<a class="lunch-fn-invite">
				<span class="lunch-icon">I</span>
				<span class="lunch-label">Invite</span>
			</a>
		</div>


		<div class="lunch-venue-guests" ng-class="{'lunch-guests-empty': venue.guests.length == 0}">
			<ul>
				<li class="lunch-venue-guest lunch-animate" ng-repeat="user in venue.guests">
					<img src="{{user.ava}}" class="lunch-user-image" alt="{{user.nick}}">
				</li>
			</ul>
		</div>
	</section>




	<section class="lunch-comments">
		<div class="lunch-comment" ng-repeat="comment in comments">
			<div class="lunch-comment-info">
				<div class="lunch-commentator-img">
					<img src="{{comment.user.ava}}" alt="">
				</div>
				<time>{{comment.data}}</time>
				<h3>{{comment.user.nick}}</h3>
			</div>
			<p>{{comment.txt}}</p>
		</div>


		<form action="" class="lunch-comment lunch-comment-input">
			<div class="lunch-commentator-img">
				<img src="../static/img/mr.png" alt="" class="lunch-user-image">
			</div>
				<textarea type="text" placeholder="Got something to say?" ng-model="formInputTxt"></textarea>
				<button class="lunch-fn-comment-send" ng-click="sendComment()">
					<span class="lunch-label">Post Comment</span>
				</button>
		</form>
	</section>
</main>
