<div class="lunch-apppage-body">


	<div class="lunch-flash" ng-controller="ErrorCtrl" ng-show="errors">

		<div class="lunch-flash-container">

			<a href="javascript:closeError()" class="lunch-flash-close">X</a>
			<ul>
				<li ng-repeat="error in errors">{{error.msg}}</li>
			</ul>

		</div>
	</div>


	<div class="lunch-filter">
		<input type="text" class="venue-title-input" placeholder="Filter" ng-model="searchInput.name">
	</div>



	
	<div ng-controller="VenueListCtrl" class="lunch-venues">

		<div ng-repeat="venue in venues | orderBy:['-attending','-users'] | filter:searchInput" class="lunch-venue anim-venue-slide">

			<div class="lunch-venue-body">
	
				<h2 class="lunch-venue-title">{{venue.name}}</h2>

				<div class="lunch-venue-header">
					<a href="{{venue.url}}" class="lunch-fn-menu" target="blank">View Menu</a>
				</div>

				<div class="lunch-venue-guests-container" ng-show="venue.users">

					<div class="lunch-venue-guest anim-user-slide" ng-repeat="user in venue.users">
						<img width="40" height="80" src="..{{user.img}}" alt="" class="lunch-user-image" alt="{{user.name}}">
						<p class="anim-status-fade" ng-show="user.status">{{user.status}}</p>
					</div>

				</div>

				<a ng-hide="venue.attending" href="" class="lunch-fn-attend">Go!</a>
				<a ng-show="venue.attending" href="" class="lunch-fn-quit">Quit!</a>

			</div>

		</div>

	</div>



	<div class="lunch-venue-create-container">
		
		<form action="" class="lunch-venue-create" id="">

			<input type="text" name="venuename" class="venue-title-input" placeholder="New Venue Name">
			<input type="text" name="venueurl" class="venue-menu-input" placeholder="Link to Menu">

			<a href="javascript:addVenue()" class="lunch-fn-addvenue">Add!</a>

		</form>
	</div>

</div>